<div class="footer">
    <div class="social">
        <a href="#"><i class="icon icon-fb"></i></a>
        <a href="#"><i class="icon icon-tt"></i></a>
        <a href="#"><i class="icon icon-yt"></i></a>
    </div>
    <div class="copyright">&copy; 2016 新信和貿易行 版權所有  技術支援：<a href="http://www.wjisc.com">盈雋有限公司</a></div>
</div>
<!--/footer-->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/swiper.jquery.min.js"></script>
<script src="/javascripts/lightbox.min.js"></script>
<script src="/javascripts/jqthumb.min.js"></script>
<script src="/javascripts/all.js"></script>
<script src="/javascripts/my.js"></script>
</body>
</html>